# Quick start with MOEXALGO!

### Авторизация

Для доступа к данным необходимо зарегестрироваться на https://passport.moex.com и сохранить логин/пароль

In [1]:
from moexalgo import session, Market, Ticker, CandlePeriod

username = ""
password = ""
session.authorize(username, password)

False

### Cписок доступных тикеров

In [2]:
# Акции
eq = Market('EQ')
eq.tickers()

,ticker,shortname,lotsize,decimals,minstep,issuesize,isin,regnumber,listlevel
0,ABIO,iАРТГЕН ао,10,2,0.020,92645451,RU000A0JNAB6,1-01-08902-A,2
1,ABRD,АбрауДюрсо,10,1,0.200,98000184,RU000A0JS5T7,1-02-12500-A,3
2,ACKO,АСКО ао,100,2,0.020,536000000,RU000A0JXS91,1-01-52065-Z,3
3,AFKS,Система ао,100,3,0.001,9650000000,RU000A0DQZE3,1-05-01669-A,1
4,AFLT,Аэрофлот,10,2,0.010,3975771215,RU0009062285,1-01-00010-A,1
...,...,...,...,...,...,...,...,...,...
247,YRSB,ТНСэнЯр,10,0,2.000,17143584,RU000A0D8760,1-01-50099-A,3
248,YRSBP,ТНСэнЯр-п,10,1,0.500,4507320,RU000A0D88B3,2-01-50099-A,3
249,ZAYM,Займер ао,10,2,0.050,100000000,RU000A107RM8,1-01-16767-A,3
250,ZILL,ЗИЛ ао,1,0,5.000,2659962,RU0009086193,1-02-00036-A,3
251,ZVEZ,ЗВЕЗДА ао,1000,2,0.010,562020480,RU0009091300,1-01-00169-D,3

In [3]:
# Валюта
fx = Market('FX')
fx.tickers()

           ticker   shortname  lotsize  decimals  minstep
0    AEDRUBTODTOM  AED_TODTOM   100000         4   0.0001
1      AEDRUB_SPT  AEDRUB_SPT     1000         4   0.0025
2      AEDRUB_TMS  AEDRUB_TMS        1         4   0.0025
3      AEDRUB_TOD  AEDRUB_TOD     1000         4   0.0025
4      AEDRUB_TOM  AEDRUB_TOM     1000         4   0.0025
..            ...         ...      ...       ...      ...
194    UZSRUB_TOM  UZSRUB_TOM  1000000         4   0.0025
195  ZARRUBTODTOM  ZAR_TODTOM  1000000         4   0.0001
196    ZARRUB_TMS  ZARRUB_TMS        1         4   0.0025
197    ZARRUB_TOD  ZARRUB_TOD    10000         4   0.0025
198    ZARRUB_TOM  ZARRUB_TOM    10000         4   0.0025

[199 rows x 5 columns]

In [4]:
# Фьючерсы
fo = Market('FO')
fo.tickers()

    ticker   shortname  decimals  minstep
0     AEH5    AED-3.25         3    0.001
1     AEM5    AED-6.25         3    0.001
2     AEU4    AED-9.24         3    0.001
3     AEZ4   AED-12.24         3    0.001
4     AFH5   AFLT-3.25         0    1.000
..     ...         ...       ...      ...
402   WUZ4  WUSH-12.24         0    1.000
403   YDU4   YDEX-9.24         0    1.000
404   YDZ4  YDEX-12.24         0    1.000
405   ZnU4     Zn-9.24         1    0.500
406   ZnZ4    Zn-12.24         1    0.500

[407 rows x 4 columns]

### Работа с тикерами

In [5]:
# Акции SBER
sber = Ticker('SBER')

# Китайский Юань
cny000000tod = Ticker('CNY000000TOD')

# Фьючерсный контракт АФК Система
akm4 = Ticker('AKM4')

#### Candles
Классические свечи OHLCV. Гранулярность данных:
```
period:
    moexalgo.CandlePeriod:

    CandlePeriod.ONE_MINUTE
    CandlePeriod.TEN_MINUTES
    CandlePeriod.ONE_HOUR
    CandlePeriod.ONE_DAY
    CandlePeriod.ONE_WEEK
    CandlePeriod.ONE_MONTH

    или int:
    1 - 1 мин
    10 - 10 мин
    60 - 1 час
    24 - 1 день
    7 - 1 неделя
    31 - 1 месяц

    или str: 1min, 10min, 1h, 1d, 1w, 1m
offset:
    Начальная позиция в последовательности записей
limit:
    Максимальное количество записей в результате
latest:
    Включает режим выдачи последних `latest` записей в наборе
use_dataframe:
    Изменяет тип возвращаемого объекта. По умолчанию `True`
    Если `True`, то возвращает `pandas.DataFrame`, иначе итератор
```

In [6]:
# Свечи по акциям SBER за период
sber.candles(start='2023-10-10', end='2023-10-18', period='10min').head()

,open,close,high,low,value,volume,begin,end
0,264.89,264.89,264.89,264.89,68129708.0,257200.0,2023-10-10 09:50:00,2023-10-10 09:59:59
1,264.90,264.25,265.18,263.80,573080891.3,2167670.0,2023-10-10 10:00:00,2023-10-10 10:09:59
2,264.26,264.22,264.95,263.90,441929827.4,1671130.0,2023-10-10 10:10:00,2023-10-10 10:19:59
3,264.22,264.23,264.45,264.05,187603360.0,710040.0,2023-10-10 10:20:00,2023-10-10 10:29:59
4,264.23,264.23,264.58,264.20,217393400.8,822500.0,2023-10-10 10:30:00,2023-10-10 10:39:59

#### ❗️Ограничение на кол-во отдаваемых свечек - 10 000❗️
##### Все запросы по конкретному тикеру (не только свечи) ограничены лимитом в 10 000 строк. Если вам нужно получить больше данных, необходимо организовать **посуточный цикл загрузки** данных.

In [7]:
# Свечи по китайскому юаню за период
cny000000tod.candles(start='2023-10-10', end='2023-10-18', period=CandlePeriod.ONE_MINUTE).head()

,open,close,high,low,value,volume,begin,end
0,13.605,13.614,13.634,13.605,6127750.0,450000.0,2023-10-10 07:00:00,2023-10-10 07:00:59
1,13.634,13.625,13.634,13.625,4117045.0,302000.0,2023-10-10 07:01:00,2023-10-10 07:01:59
2,13.634,13.634,13.634,13.634,2726800.0,200000.0,2023-10-10 07:02:00,2023-10-10 07:02:59
3,13.634,13.635,13.635,13.633,16714820.0,1226000.0,2023-10-10 07:03:00,2023-10-10 07:03:59
4,13.635,13.642,13.642,13.634,21926634.0,1608000.0,2023-10-10 07:04:00,2023-10-10 07:04:59

In [8]:
# Свечи по фьючерсному контракту за период
akm4.candles(start='2024-04-23', end='2024-04-23', period=60).head()

,open,close,high,low,value,volume,begin,end
0,27323.0,27323.0,27323.0,27323.0,0,1.0,2024-04-23 08:00:00,2024-04-23 08:59:59
1,27419.0,27350.0,27420.0,27350.0,0,87.0,2024-04-23 09:00:00,2024-04-23 09:59:59
2,27350.0,27033.0,27569.0,27033.0,0,923.0,2024-04-23 10:00:00,2024-04-23 10:59:59
3,27120.0,27226.0,27255.0,27033.0,0,296.0,2024-04-23 11:00:00,2024-04-23 11:59:01
4,27227.0,27344.0,27504.0,27058.0,0,584.0,2024-04-23 12:00:00,2024-04-23 12:59:01

### OrderBook

In [9]:
sber = Ticker('SBER')
sber.orderbook()

,boardid,secid,buysell,price,quantity,seqnum,updatetime,decimals
0,TQBR,SBER,B,256.20,451,20240830154227,15:42:27,2
1,TQBR,SBER,B,256.21,5342,20240830154227,15:42:27,2
2,TQBR,SBER,B,256.22,54,20240830154227,15:42:27,2
3,TQBR,SBER,B,256.23,211,20240830154227,15:42:27,2
4,TQBR,SBER,B,256.24,162,20240830154227,15:42:27,2
5,TQBR,SBER,B,256.25,901,20240830154227,15:42:27,2
6,TQBR,SBER,B,256.26,407,20240830154227,15:42:27,2
7,TQBR,SBER,B,256.27,50,20240830154227,15:42:27,2
8,TQBR,SBER,B,256.28,127,20240830154227,15:42:27,2
9,TQBR,SBER,B,256.29,85,20240830154227,15:42:27,2
10,TQBR,SBER,S,256.30,255,20240830154227,15:42:27,2
11,TQBR,SBER,S,256.31,2,20240830154227,15:42:27,2
12,TQBR,SBER,S,256.32,10,20240830154227,15:42:27,2
13,TQBR,SBER,S,256.33,2,20240830154227,15:42:27,2
14,TQBR,SBER,S,256.35,265,20240830154227,15:42:27,2
15,TQBR,SBER,S,256.36,56,20240830154227,15:42:27,2
16,TQBR,SBER,S,256.37,20,20240830154227,15:42:27,2
17,TQBR,SBER,S,256.38,53,20240830154227,15:42:27,2
18,TQBR,SBER,S,256.39,151,20240830154227,15:42:27,2
19,TQBR,SBER,S,256.40,530,20240830154227,15:42:27,2

In [10]:
cny000000tod = Ticker('CNY000000TOD')
try:
    cny000000tod.orderbook()
except NotImplementedError as exc:
    print(str(exc))

OrderBook is not implemented for currencies

In [11]:
akm4 = Ticker('AKM4')
akm4.orderbook()

Empty DataFrame
Columns: []
Index: []

### Метрики TradeStats, OrderStats, Obstats

#### Tradestats

Торговая статистика на основе сделок. Гранулярность данных: 5 мин.

---

Данные TradeStats по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам.

In [12]:
eq.tradestats(date='2023-10-10').head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close
0,ABIO,2023-10-10,10:05:00,119.520,119.800,114.000,117.380,0.0017,45904,53480659.0,...,22932,22972,0.00,116.610,116.400,2024-08-13 03:37:28,5,11,81,299
1,ABRD,2023-10-10,10:05:00,305.600,307.400,305.600,306.600,0.0007,480,1471600.0,...,372,108,0.55,306.700,306.100,2024-08-13 03:37:28,6,261,6,300
2,AFKS,2023-10-10,10:05:00,17.601,17.606,17.501,17.511,0.0003,10943,19184629.0,...,3341,7602,-0.39,17.539,17.528,2024-08-13 03:37:28,1,1,216,300
3,AFLT,2023-10-10,10:05:00,40.560,40.590,40.470,40.550,0.0004,4517,1830400.0,...,3337,1180,0.48,40.530,40.500,2024-08-13 03:37:28,5,20,93,293
4,AGRO,2023-10-10,10:05:00,1200.000,1209.600,1200.000,1209.600,0.0004,5834,7036248.0,...,4795,1039,0.64,1206.300,1205.200,2024-08-13 03:37:28,1,278,1,300

##### Аналогично для других рынков

In [13]:
fo.tradestats(date='2024-04-22').head()

,ticker,tradedate,tradetime,asset_code,pr_open,pr_high,pr_low,pr_close,pr_std,vol,...,im,oi_open,oi_high,oi_low,oi_close,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close,systime
0,AFM4,2024-04-22,09:05:00,AFLT,5097.0,5103.0,5097.0,5103.0,4.2426,3,...,2589.0,51080,51082,51080,51082,107,287,107,287,2024-04-22 09:05:05
1,AFU4,2024-04-22,09:05:00,AFLT,5294.0,5294.0,5294.0,5294.0,NaN,1,...,2688.0,4884,4884,4884,4884,287,287,287,287,2024-04-22 09:05:05
2,AKM4,2024-04-22,09:05:00,AFKS,26530.0,26671.0,26525.0,26580.0,43.3244,34,...,13241.0,10306,10318,10304,10318,5,21,181,288,2024-04-22 09:05:05
3,AKU4,2024-04-22,09:05:00,AFKS,26792.0,26792.0,26670.0,26670.0,86.2670,2,...,13726.0,778,780,778,780,21,21,83,83,2024-04-22 09:05:05
4,ALM4,2024-04-22,09:05:00,ALRS,7729.0,7729.0,7729.0,7729.0,NaN,8,...,2047.0,114760,114760,114760,114760,5,5,5,5,2024-04-22 09:05:05

In [14]:
fx.tradestats(date='2024-04-22').head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close,systime
0,CNY000000TOD,2024-04-22,07:05:00,12.8715,12.87150,12.8480,12.84950,0.000233,693,8909349,...,252,441,-0.27,12.86394,12.85178,10,10,206,227,2024-05-08 22:20:50
1,CNYRUB_TOM,2024-04-22,07:05:00,12.8500,12.87000,12.8500,12.85800,0.000275,15881,204227307,...,11941,3940,0.50,12.85989,12.85975,1,8,1,192,2024-05-08 22:20:50
2,EURUSD000TOM,2024-04-22,07:05:00,1.0670,1.06705,1.0670,1.06705,0.000000,250,266760,...,250,0,1.00,1.06704,NaN,82,82,82,82,2024-05-08 22:20:50
3,EUR_RUB__TOD,2024-04-22,07:05:00,105.3475,105.34750,95.4750,99.50500,0.040050,147,14692155,...,30,117,-0.59,99.50500,100.05990,12,12,28,117,2024-05-08 22:20:50
4,EUR_RUB__TOM,2024-04-22,07:05:00,99.4075,99.54750,99.4075,99.46500,0.000534,419,41671507,...,57,362,-0.73,99.47510,99.45150,29,77,29,82,2024-05-08 22:20:50

Данные TradeStats по акциям SBER за период

In [15]:
sber.tradestats(start='2023-10-10', end='2023-10-18').head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,sec_pr_open,sec_pr_high,sec_pr_low,sec_pr_close
0,SBER,2023-10-10,10:05:00,264.90,265.18,264.43,264.46,0.0001,89034,235729237.0,...,40995,48039,-0.08,264.81,264.72,2024-08-13 03:46:33,1,72,256,300
1,SBER,2023-10-10,10:10:00,264.46,264.50,263.80,264.25,0.0001,127733,337351653.0,...,42771,84962,-0.33,264.13,264.10,2024-08-13 03:46:33,1,1,129,300
2,SBER,2023-10-10,10:15:00,264.26,264.95,264.12,264.94,0.0001,88051,232913970.0,...,71267,16784,0.62,264.53,264.47,2024-08-13 03:46:33,1,298,11,299
3,SBER,2023-10-10,10:20:00,264.91,264.94,263.90,264.22,0.0001,79062,209015857.0,...,18509,60553,-0.53,264.48,264.34,2024-08-13 03:46:33,2,2,238,300
4,SBER,2023-10-10,10:25:00,264.22,264.35,264.05,264.10,0.0000,31648,83606467.0,...,16890,14758,0.07,264.20,264.15,2024-08-13 03:46:33,1,233,42,299

#### Orderstats

Торговая статистика на основе заявок. Гранулярность данных 5 мин.

---

##### ❗️ Для рынка фьючерсов нет метрики OrderStats ❗️

Данные OrderStats по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам

In [16]:
eq.orderstats(date='2024-04-22').head()

,ticker,tradedate,tradetime,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,...,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,cancel_vol,cancel_val,cancel_orders,systime
0,ABIO,2024-04-22,10:05:00,3900,2384,2.437240e+08,2.437240e+08,218916,107365,111.330,...,2.289854e+08,2.289854e+08,204224,70889,112.120,112.690,275113,3.088728e+08,4910,2024-04-22 10:05:15
1,ABRD,2024-04-22,10:05:00,403,1254,1.160115e+07,1.160115e+07,4266,22618,271.900,...,6.100996e+06,6.100996e+06,2117,18778,288.200,292.300,20895,6.098031e+07,935,2024-04-22 10:05:15
2,AFKS,2024-04-22,10:05:00,35920,41697,1.164957e+10,1.164957e+10,4476036,4843997,26.027,...,1.132790e+10,1.132790e+10,4325725,4682085,26.187,26.268,9007810,2.362702e+10,71974,2024-04-22 10:05:15
3,AFLT,2024-04-22,10:05:00,13667,4889,2.221985e+09,2.221985e+09,4499012,1549139,49.390,...,2.113513e+09,2.113513e+09,4249101,1286704,49.740,50.000,5535805,2.756874e+09,16076,2024-04-22 10:05:15
4,AGRO,2024-04-22,10:05:00,76081,28084,1.790732e+10,1.790732e+10,12349215,1897247,1450.100,...,1.787175e+10,1.787175e+10,12313352,1857227,1451.400,1464.100,14170579,2.059101e+10,102673,2024-04-22 10:05:15

In [17]:
# Аналогично для Валюты
fx.orderstats(date='2024-04-22').head()

,ticker,tradedate,tradetime,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,put_vwap_s,cancel_orders_b,cancel_orders_s,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,systime
0,CNY000000TOD,2024-04-22,07:05:00,1399,3230,15671927317,23039305040,1223565,1780529,12.808410,12.939580,1352,3179,14575782279,21804988673,1137631,1685175,12.812400,12.939300,2024-04-23 20:43:12
1,CNYRUB_TOM,2024-04-22,07:05:00,4719,17543,51954068498,196759518757,4049678,15275798,12.829190,12.880470,4647,17428,50762588193,195341249849,3956773,15166226,12.829290,12.880020,2024-04-23 20:43:12
2,EURUSD000TOD,2024-04-22,07:05:00,3,2,749810,767260,710,700,1.056070,1.096086,0,0,0,0,0,0,NaN,NaN,2024-04-23 20:43:12
3,EURUSD000TOM,2024-04-22,07:05:00,579,217,78081407,33625320,73300,31450,1.065231,1.069168,563,203,73770427,29777447,69250,27850,1.065277,1.069208,2024-04-23 20:43:12
4,EUR_RUB__TOD,2024-04-22,07:05:00,6171,1802,83836315765,30743628336,875212,304020,95.789700,101.123700,6146,1766,83422796620,30323934509,871035,299821,95.774300,101.140100,2024-04-23 20:43:12

Данные OrderStats по акциям SBER за период. Лимит по таким запросам 10К строк за раз. Если вам нужны большие периоды

In [18]:
sber.orderstats(start='2023-10-10', end='2023-10-18').head()

,ticker,tradedate,tradetime,put_orders_b,put_orders_s,put_val_b,put_val_s,put_vol_b,put_vol_s,put_vwap_b,...,cancel_val_b,cancel_val_s,cancel_vol_b,cancel_vol_s,cancel_vwap_b,cancel_vwap_s,cancel_vol,cancel_val,cancel_orders,systime
0,SBER,2023-10-10,10:05:00,12588,15586,4.008831e+09,5.575253e+09,1511580,2038427,265.21,...,3.640648e+09,4.970981e+09,1375738,1862514,264.63,266.90,3238252,8.611629e+09,24903,2023-10-25 21:26:47
1,SBER,2023-10-10,10:10:00,5567,6791,1.940628e+09,2.657036e+09,714584,1001512,271.57,...,1.463819e+09,2.290195e+09,545309,863399,268.44,265.25,1408708,3.754014e+09,9355,2023-10-25 21:26:47
2,SBER,2023-10-10,10:15:00,6289,5895,2.387144e+09,2.480124e+09,898471,933868,265.69,...,2.092585e+09,2.292207e+09,781963,864446,267.61,265.16,1646409,4.384792e+09,10078,2023-10-25 21:26:48
3,SBER,2023-10-10,10:20:00,5045,5893,1.633560e+09,2.521517e+09,615955,953957,265.21,...,1.478751e+09,2.284129e+09,559684,862257,264.21,264.90,1421941,3.762880e+09,9225,2023-10-25 21:26:50
4,SBER,2023-10-10,10:25:00,4320,4016,2.076028e+09,2.242749e+09,785969,846117,264.14,...,1.883450e+09,2.157313e+09,713452,815408,263.99,264.57,1528860,4.040763e+09,6779,2023-10-25 21:26:51

#### OrderBookStats

Торговая статистика на основе стакана заявок. Гранулярность данных 5 мин.

---

Данные по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам

In [19]:
eq.obstats(date='2024-04-10').head()

,ticker,tradedate,tradetime,spread_bbo,spread_lv10,spread_1mio,levels_b,levels_s,vol_b,vol_s,...,val_s,imbalance_vol_bbo,imbalance_val_bbo,imbalance_vol,imbalance_val,vwap_b,vwap_s,vwap_b_1mio,vwap_s_1mio,systime
0,ABIO,2024-04-10,10:10:00,10.9,70.9,87.8,231,280,8936,27109,...,35095224,0.14,0.14,-0.50,-0.56,111.990,129.460,115.75,116.770,2024-04-10 10:10:12
1,ABRD,2024-04-10,10:10:00,17.4,184.1,98.0,165,156,4569,8388,...,25337918,-0.31,-0.31,-0.29,-0.35,266.800,302.100,281.30,284.100,2024-04-10 10:10:12
2,AFKS,2024-04-10,10:10:00,4.3,19.2,10.6,802,900,102931,116096,...,288342708,0.20,0.20,-0.06,-0.11,22.609,24.837,23.50,23.525,2024-04-10 10:10:12
3,AFLT,2024-04-10,10:10:00,2.9,39.9,9.3,568,501,477876,430169,...,225060049,-0.04,-0.04,0.05,-0.01,45.690,52.330,49.22,49.270,2024-04-10 10:10:12
4,AGRO,2024-04-10,10:10:00,3.5,42.6,22.3,357,361,35101,43840,...,67314681,-0.09,-0.09,-0.11,-0.16,1395.400,1535.500,1446.10,1449.400,2024-04-10 10:10:12

##### Аналогично для других рынков

In [20]:
fx.obstats(date='2024-04-10').head()

,ticker,tradedate,tradetime,mid_price,micro_price,spread_l1,spread_l2,spread_l3,spread_l5,spread_l10,...,vol_s_l5,vol_s_l10,vol_s_l20,vwap_b_l3,vwap_b_l5,vwap_b_l10,vwap_s_l3,vwap_s_l5,vwap_s_l10,systime
0,CNY000000TOD,2024-04-10,07:05:00,12.835250,12.834660,4.5,7.6,10.3,21.8,29.4,...,1969.0,5210.0,None,12.831390,12.830410,12.822390,12.839590,12.841910,12.846340,2024-04-23 23:24:29
1,CNYRUB_TOM,2024-04-10,07:05:00,12.838520,12.838370,1.7,2.8,3.9,6.2,10.9,...,4630.0,12817.0,None,12.836570,12.835860,12.834230,12.840210,12.841000,12.842890,2024-04-23 23:24:29
2,EURUSD000TOD,2024-04-10,07:05:00,1.085825,1.089638,143.3,167.1,NaN,NaN,NaN,...,0.0,0.0,None,1.076869,NaN,NaN,NaN,NaN,NaN,2024-04-23 23:24:29
3,EURUSD000TOM,2024-04-10,07:05:00,1.085501,1.085304,6.0,10.9,21.1,37.3,120.1,...,1533.0,3648.0,None,1.084868,1.084071,1.083219,1.086009,1.086297,1.087974,2024-04-23 23:24:29
4,EUR_RUB__TOD,2024-04-10,07:05:00,100.879400,100.838900,34.5,36.0,44.3,58.7,140.8,...,325.0,2590.0,None,100.703300,100.689400,100.532200,101.082100,101.170300,101.421900,2024-04-23 23:24:29

In [21]:
fo.obstats(date='2024-04-10').head()

,ticker,tradedate,tradetime,asset_code,mid_price,micro_price,spread_l1,spread_l2,spread_l3,spread_l5,...,vol_s_l20,vwap_b_l3,vwap_b_l5,vwap_b_l10,vwap_b_l20,vwap_s_l3,vwap_s_l5,vwap_s_l10,vwap_s_l20,systime
0,AEH5,2024-04-10,09:05:00,AED,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-31 10:16:52
1,AEM4,2024-04-10,09:05:00,AED,26.728,27.183,1065.8,1107.9,1115.1,NaN,...,0,25281.383,25008.173,NaN,NaN,28079.006,NaN,NaN,NaN,2024-05-31 09:33:50
2,AEU4,2024-04-10,09:05:00,AED,25.950,25.950,1148.5,1150.0,1554.1,NaN,...,0,24533.103,24405.657,NaN,NaN,27360.534,NaN,NaN,NaN,2024-05-31 09:51:55
3,AEZ4,2024-04-10,09:05:00,AED,NaN,NaN,NaN,NaN,NaN,NaN,...,0,24742.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-31 10:11:55
4,AFM4,2024-04-10,09:05:00,AFLT,5082.000,5083.000,12.1,23.2,91.6,112.3,...,13,5073.000,5067.000,5059.0,5052.0,5085.000,5095.0,5115.0,5127.0,2024-05-31 09:45:22

Данные OrderBookStats по акциям SBER за период.

Запросы такого типа (по одному тикеру и период дат) имеют лимит выдачи 10К строк за раз. 
Чтобы получить данные за большие периоды, нужно запустить цикл по датам, месяцам.

In [22]:
sber.obstats(start='2023-10-10', end='2023-10-18').head()

,ticker,tradedate,tradetime,spread_bbo,spread_lv10,spread_1mio,levels_b,levels_s,vol_b,vol_s,...,val_s,imbalance_vol_bbo,imbalance_val_bbo,imbalance_vol,imbalance_val,vwap_b,vwap_s,vwap_b_1mio,vwap_s_1mio,systime
0,SBER,2023-10-10,10:05:00,1.0,8.7,2.2,1387,856,349423,456963,...,1241102353,-0.11,-0.11,-0.13,-0.16,256.25,271.59,264.80,264.86,2023-10-27 02:53:53
1,SBER,2023-10-10,10:10:00,0.8,8.1,1.6,1401,922,393925,509661,...,1383499548,-0.04,-0.04,-0.13,-0.16,256.41,271.46,264.16,264.21,2023-10-27 02:53:54
2,SBER,2023-10-10,10:15:00,0.7,8.0,1.7,1450,939,445063,509068,...,1381519454,-0.20,-0.20,-0.07,-0.09,257.09,271.38,264.45,264.49,2023-10-27 02:53:54
3,SBER,2023-10-10,10:20:00,0.7,7.9,1.5,1473,968,454221,516908,...,1402256629,0.38,0.38,-0.06,-0.09,257.10,271.28,264.51,264.55,2023-10-27 02:53:55
4,SBER,2023-10-10,10:25:00,0.6,8.0,1.5,1447,997,463721,525658,...,1424980746,0.25,0.25,-0.06,-0.09,256.98,271.08,264.15,264.19,2023-10-27 02:53:55

#### HI2
Торговая статистика на основе индекса рыночной концентрации. Гранулярность данных 5 мин.

---

In [23]:
sber.hi2(start='2024-04-10', end='2024-04-18').head()

,ticker,tradedate,tradetime,metric,value,reference,systime
0,SBER,2024-04-10,18:40:00,hhi_agressive_buy,62.0,None,2024-04-10 18:45:46
1,SBER,2024-04-10,18:40:00,hhi_agressive,96.0,None,2024-04-10 18:45:46
2,SBER,2024-04-10,18:40:00,hhi_volume,115.0,None,2024-04-10 18:45:46
3,SBER,2024-04-10,18:40:00,hhi_sell,194.0,None,2024-04-10 18:45:46
4,SBER,2024-04-10,18:40:00,hhi_passive_sell,313.0,None,2024-04-10 18:45:46

#### FUTOI
Торговая статистика на основе открытых позиций по фьючерсным контрактам в разрезе физ. и юр. лиц

---

In [24]:
fo.futoi(date="2024-04-08").head()

,ticker,sess_id,seqnum,tradedate,tradetime,clgroup,pos,pos_long,pos_short,pos_long_num,pos_short_num,systime
0,YN,7028,55,2024-04-08,23:50:00,YUR,-5104,133,-5237,5,9,2024-04-08 23:50:05
1,YN,7028,55,2024-04-08,23:50:00,FIZ,5104,14091,-8987,668,365,2024-04-08 23:50:05
2,VI,7028,55,2024-04-08,23:50:00,FIZ,0,1155,-1155,61,14,2024-04-08 23:50:05
3,VB,7028,55,2024-04-08,23:50:00,YUR,-501603,17861,-519464,11,37,2024-04-08 23:50:05
4,VB,7028,55,2024-04-08,23:50:00,FIZ,501603,588919,-87316,3005,730,2024-04-08 23:50:05